<mat-toolbar class="static-header">
    HCI Lab - Study Participant Recruitment
</mat-toolbar>

<mat-toolbar class="non-static-header">
  <nav mat-tab-nav-bar>
    <ng-container *ngIf="userStatus=='admin'">
        <a mat-tab-link routerLink="/login" routerLinkActive #rla="routerLinkActive" style="color: #FFFF">AUTHORIZE RESEARCHER</a>
        <button mat-button (click)="onLogout()"> Log Out</button>
        <button mat-button > Account Status: {{ userStatus }}           User Email: {{ email }} </button>
    </ng-container>

    <ng-container *ngIf="userStatus=='researcher'">
        <button mat-button (click)="onLogout()"> Log Out</button>
        <a mat-tab-link routerLink="/mystudies" routerLinkActive #rla="routerLinkActive" style="color: #FFFF">MY STUDIES</a>
        <a mat-tab-link routerLink="/studies" routerLinkActive #rla="routerLinkActive" style="color: #FFFF">MY STUDIES</a>
        <button mat-button > Account Status: {{ userStatus }}           User Email: {{ email }} </button>
    </ng-container>

    <ng-container *ngIf="userStatus=='participant'">
        <button mat-button (click)="onLogout()"> Log Out</button>
        <a mat-tab-link routerLink="/mystudies" routerLinkActive #rla="routerLinkActive" style="color: #FFFF">MY STUDIES</a>
        <a mat-tab-link routerLink="/studies" routerLinkActive #rla="routerLinkActive" style="color: #FFFF">CURRENT STUDIES</a>
        <button mat-button > Account Status: {{ userStatus }}           User Email: {{ email }} </button>
    </ng-container>

    <ng-container *ngIf="!userStatus">
        <a mat-tab-link routerLink="/studies" routerLinkActive #rla="routerLinkActive" >CURRENT STUDIES</a>
        <a mat-tab-link routerLink="/login" routerLinkActive #rla="routerLinkActive" >REGISTER/LOGIN</a>
    </ng-container>
  </nav>
</mat-toolbar>

<router-outlet></router-outlet>
