.mat-tab-nav-bar, .mat-tab-link {
  font-size: 15px;
}

/* color of subject underscore */
::ng-deep .mat-ink-bar {
  background-color: #c5030c !important;
}

/* ::ng-deep .mat-tab-label-active {
  color: white !important;
} */

::ng-deep .mat-tab-link  {
  color: #ffffff !important;
  background-color: #c5030c;
}
.fa-user-circle {
  position:absolute;
  top:10;
  right:10px;
  color: white;
}

.static-header{
  color: #c5030c; /* official wisconsin red https://teamcolorcodes.com/wisconsin-badgers-colors/ */
  font-size: 32px;
  padding: 40px;
  font-weight: bold;
  font-family: Helvetica;
}

.non-static-header{
  background-color: #c5030c;
  color: white;
}
