<mat-toolbar>Current Studies</mat-toolbar>
<ng-container *ngIf="curr_studies && email">
    <div *ngFor="let study of curr_studies">
        <ng-template *ngIf="study.creator == email; then match"></ng-template>
        <ng-template #match>
          <h2 class="title"> {{ study.title }} </h2>
          <mat-divider></mat-divider>
          <mat-divider></mat-divider>
          <h4> Description </h4> <p>{{ study.description}} </p>
          <mat-divider></mat-divider>
          <h4> Study Time </h4><p> From {{ study.start_time }} to {{ study.end_time }}</p>

          <ng-container *ngIf="userStatus == 'researcher'">
              <button mat-raised-button color="accent" (click)="checkView(study.title)"> Pick Particpants</button>
              <mat-divider></mat-divider>
          </ng-container>

        </ng-template>
    </div>
</ng-container>

<mat-toolbar>Past Studies</mat-toolbar>
<ng-container *ngIf="past_studies && email">
      <div *ngFor="let study of past_studies">
          <ng-template *ngIf="study.creator == email; then match"></ng-template>
          <ng-template #match>
            <h2 class="title"> {{ study.title }} </h2>
            <mat-divider></mat-divider>
            <mat-divider></mat-divider>
            <h4> Description </h4> <p>{{ study.description}} </p>
            <mat-divider></mat-divider>
            <h4> Study Time </h4><p> From {{ study.start_time }} to {{ study.end_time }}</p>
          </ng-template>
      </div>
</ng-container>
