<mat-grid-list [cols]="2" rowHeight="70px">
  <!-- Headers -->
  <mat-grid-tile colspan="1" rowspan="1">
    <h2>Create Account</h2>
  </mat-grid-tile>
  <mat-grid-tile cols="1" rowspan="1">
      <h2>Login</h2>
  </mat-grid-tile>

  <!-- Create Account Panel -->
  <mat-grid-tile cols="1" rowspan="2">
      <mat-card>
        <form (submit)="onRegister(registerForm)" #registerForm="ngForm" *ngIf="!isLoading">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Name">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <!-- ngModel #emailInput gives access to the underlying object being controlled by angular -->
                <input matInput name="email" type="email" placeholder="Email" ngModel #emailInput="ngModel" required email>
                <!-- by registering the component with ngModel we are then able to check and see if in the input is valid -->
                <!-- the "validation" on the "required" and the "email" validators, both of which are provided by angular
                    and check to see if something is present and if angular deems it to be an email -->
                <mat-error *ngIf="emailInput.invalid"> Please enter a valid email </mat-error>
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <!-- Follow the same logic as described above except substitute email for password -->
                <input matInput name="password" type="password" placeholder="Password" ngModel #passInput="ngModel" required>
                <!-- again same logic -->
                <mat-error *ngIf="passInput.invalid"> Please enter a valid password </mat-error>
              </mat-form-field>
        </form>
      </mat-card>

      <mat-card>
          <button mat-raised-button color="accent" type="submit">Create Account</button>
      </mat-card>
  </mat-grid-tile>

  <!-- Login Panel -->
  <mat-grid-tile cols="1" rowspan="1">
      <mat-card>
        <mat-form-field class="example-full-width">
            <!-- ngModel #emailInput gives access to the underlying object being controlled by angular -->
            <input matInput name="email" type="email" placeholder="Email" ngModel #emailInput="ngModel" required email>
            <!-- by registering the component with ngModel we are then able to check and see if in the input is valid -->
            <!-- the "validation" on the "required" and the "email" validators, both of which are provided by angular
                and check to see if something is present and if angular deems it to be an email -->
            <mat-error *ngIf="emailInput.invalid"> Please enter a valid email </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <!-- Follow the same logic as described above except substitute email for password -->
            <input matInput name="password" type="password" placeholder="Password" ngModel #passInput="ngModel" required>
            <!-- again same logic -->
            <mat-error *ngIf="passInput.invalid"> Please enter a valid password </mat-error>
        </mat-form-field>
      </mat-card>

      <mat-card>
          <button mat-raised-button color="accent" type="submit">Login</button>
      </mat-card>
  </mat-grid-tile>

  <!-- Spacer -->
  <mat-grid-tile cols="1" rowspan="1">
  </mat-grid-tile>

  <mat-grid-tile cols="1" rowspan="1">
      <h2>Questions</h2>
  </mat-grid-tile>

  <mat-grid-tile cols="1" rowspan="1">
  </mat-grid-tile>

  <mat-grid-tile cols="1" rowspan="1">
    <mat-card>
        <form class="example-form">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Native Language">
            </mat-form-field>
        </form>
    </mat-card>
  </mat-grid-tile>

  <!-- Spacer -->
  <mat-grid-tile cols="1" rowspan="1">
  </mat-grid-tile>

  <mat-grid-tile cols="1" rowspan="1">
    <mat-card>
        <form class="example-form">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Age">
            </mat-form-field>
        </form>
    </mat-card>
  </mat-grid-tile>

  <!-- Spacer -->
  <mat-grid-tile cols="1" rowspan="1">
  </mat-grid-tile>

  <mat-grid-tile cols="1" rowspan="1">
    <mat-card>
        <form class="example-form">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="School Year">
            </mat-form-field>
        </form>
    </mat-card>
  </mat-grid-tile>

</mat-grid-list>

<mwl-demo-component></mwl-demo-component>
