<mat-grid-list [cols]="2" rowHeight="70px">
  <mat-grid-tile colspan="1" rowspan="1">
    <h2>Create Account</h2>
  </mat-grid-tile>
  <mat-grid-tile cols="1" rowspan="1">
      <h2>Login</h2>
  </mat-grid-tile>
  <mat-grid-tile cols="1" rowspan="2">
      <mat-card>
        <h4> Name: {{ name }} </h4>
        <h4> Email: {{ email }} </h4>
        <h4>  Password: {{ password }} </h4>
      </mat-card>
  </mat-grid-tile>
  <mat-grid-tile cols="1" rowspan="1">
      <mat-card>
        <h4> Email: {{ email }} </h4>
        <h4>  Password: {{ password }} </h4>
      </mat-card>
  </mat-grid-tile>
  <mat-grid-tile cols="1" rowspan="1">
  </mat-grid-tile>
  <mat-grid-tile cols="1" rowspan="1">
      <h2>Questions</h2>
  </mat-grid-tile>

  <mat-grid-tile cols="1" rowspan="1">
  </mat-grid-tile>

  <mat-grid-tile cols="1" rowspan="1">
    <form class="example-form">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Native Language">
        </mat-form-field>
    </form>
  </mat-grid-tile>

  <mat-grid-tile cols="1" rowspan="1">
    </mat-grid-tile>

    <mat-grid-tile cols="1" rowspan="1">
      <form class="example-form">
          <mat-form-field class="example-full-width">
              <input matInput placeholder="Age">
          </mat-form-field>
      </form>
    </mat-grid-tile>

    <mat-grid-tile cols="1" rowspan="1">
      </mat-grid-tile>

      <mat-grid-tile cols="1" rowspan="1">
        <form class="example-form">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="School Year">
            </mat-form-field>
        </form>
      </mat-grid-tile>

</mat-grid-list>
